.ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 6px;
  border: 1px solid black;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.noContacts {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}